# Virtual environments
venv/

# Environment variables (secrets)
.env
.env.*

# Instance folder (runtime files like SQLite DB)
instance/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.idea/

# Mac system files
.DS_Store

# SQLite databases
*.sqlite
*.sqlite3

# Logs
*.log

# This folder stores generated datasets, not source code
ml/models/*.pkl
ml/data/*

# keep the folder for convenience
!ml/models/.gitkeep
!ml/data/.gitkeep