# Virtual environments
venv/

# Environment variables (secrets)
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE settings
.idea/

# Mac system files
.DS_Store

# SQLite databases
*.sqlite
*.sqlite3

# Flask instance folder
instance/

# Logs
*.log